<div class="main-contents">
  <div class="answer-area">
    <div class="answer-area__title">
      お題に答える
  </div>
    <div class="answer-area__info">
      ここに説明分を挿入
    </div>
    <div class="answer-area__link">
      <%= link_to '回答ページへ' , new_answer_path %>
    </div>
  </div>


<%= link_to 'お題の新規投稿' , new_theme_path %>
<%= link_to '投稿したお題一覧' , themes_path %>

<%= link_to '回答一覧' , answers_path %>