new friends

申請する？

<%= form_with(url: "/users/#{@user.id}/friend_requests", local:true) do |form| %>
  <%=form.text_field :to_user_id, value: @user.id, readonly: true %>
  <div class="user-image">
				<%= image_tag @user.image.url %>
	</div>
  <%=form.submit "申請する"%>
<% end %>