.answer-new {
  text-align: center;
}

.theme-id {
  display: flex;
  align-items: center;
  height:40px;
  background-color: lightpink;

  &__info{
  }

  &__box{
    border: 1px solid gray;
    width:40px;
    margin-left: 10px;
  }

}

.theme-title {
  text-align: center;
  margin: 20px 0px;

  &__info {
    font-size: 24px;
    margin-bottom: 20px
  }

  &__body {
    font-size: 36px;
  }

  &__genre{
    border: solid 1px lightcoral;
    border-radius: 2px;
    width: 100px;
    height: 30px;
    background-color: pink;
    margin: 10px auto;
    line-height: 30px;
    color:darkred;
  }

}

// 機能してない
// input[type="radio"] {
//   display: none;
// }

.answer-box {
  display: flex;
  justify-content: center;
  padding: 5px;

  &__select{
    margin: 5px;
    width: 150px;
    height: 60px;
    padding: 0px 5px;
    text-align: center;
    
    border: 2px solid gray;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    }
}

// 機能してない
// input[type="radio"]:checked + label {
//   background: palevioletred;
//   color: black;
// }

.check-label {
  color:red;
  height:35px;
  line-height: 35px;
}

.check-input {
  margin-bottom: 5px;
}

.submit-btn {
  margin: 20px auto;
  line-height: 50px;
  text-align: center;
  height: 50px;
  width:130px;
  background-color: turquoise;
}


.history-header{
  display:flex;
  width: 100%;
  background-color: darkslateblue;
  height: 50px;
  line-height: 50px;
  color: white;
  text-align: center;

  &__date{
    width: 20%;
    border: 1px solid lightgray;
  }
  &__id{
    width: 10%;
    border: 1px solid lightgray;
  }
  &__genre{
    width: 10%;
    border: 1px solid lightgray;
  }
  &__title{
    width: 30%;
    border: 1px solid lightgray;
  }
  &__answer{
    width: 10%;
    border: 1px solid lightgray;
  }

  &__judge {
    width: 10%;
    border: 1px solid lightgray;
  }

  &__detail{
    width: 10%;
    border: 1px solid lightgray;
  }
}

.history-contents{
  display: flex;
  width: 100%;
  background-color: lightcyan;
  height: 50px;
  line-height: 50px;
  color:darkmagenta;
  text-align: center;
  font-size: 1.2vw;

  &__date{
    width: 20%;
    border: 1px solid lightgray;
    
  }
  &__id{
    width: 10%;
    border: 1px solid lightgray;
  }

  &__genre{
    width: 10%;
    border: 1px solid lightgray;
  }

  &__title{
    width: 30%;
    border: 1px solid lightgray;
  }

  &__answer{
    width: 10%;
    border: 1px solid lightgray;
  }

  &__judge{
    width: 10%;
    border: 1px solid lightgray;
  }


  &__detail{
    width: 10%;
    border: 1px solid lightgray;
  }

}

.theme-info {
  display:flex;
  margin: 20px 0px;
  height: 40px;
  line-height: 40px;
  text-align: center;
}

.ID-label {
  border: 1px solid darkgrey;
  border-radius: 10px;
  width: 6%;
  margin-right: 0.5%;
  background-color: lightgray;
}

.ID-value {
  border: 1px solid darkgrey;
  border-radius: 10px;
  width: 5%;
  margin-right: 1%;
}

.theme-value {
  border: 1px solid darkgrey;
  border-radius: 10px;
  width: 50%;
  margin-right: 1%;
}

.genre-label {
  border: 1px solid darkgrey;
  border-radius: 10px;
  width: 10%;
  background-color: lightgray;
  margin-right: 0.5%;
}

.genre-value {
  border: 1px solid darkgrey;
  border-radius: 10px;
  width: 10%;
  margin-right: 1%;
}

.create-user-label {
  border: 1px solid darkgrey;
  border-radius: 10px;
  width: 8%;
  background-color: lightgray;
  margin-right: 0.5%;
}

.create-user-value {
  border: 1px solid darkgrey;
  border-radius: 10px;
  width: 10%;
}

.answer-info {
  display:flex;
  height: 40px;
  line-height: 40px;
  text-align: center;
  margin-bottom: 20px;
  
  &__label {
    border: 1px solid darkgrey;
    border-radius: 10px;
    width: 20%;
    background-color: lightgray;
    margin-right: 0.5%;
  }
  &__value {
    border: 1px solid darkgrey;
    border-radius: 10px;
    width: 40%;
    margin-right: 0.5%;
  }
}

.result-info {
  display: flex;
  margin:10px auto;
  height: 40px;
  line-height: 40px;
  justify-content: center;

  &__label {

  }

  &__value {
    font-size: 30px;
    font-weight: bold;
    color: red;
  }
}

.answer-detail {
  margin: 10px 0px; 
  display: flex;
  justify-content: space-between;
  padding: 0px 20px;
  height: 30px;

  &__label {
  }

  &__total {

  }

}

.detail-breakdown {
  display: flex;
  justify-content: space-between;
  width:100%;
  height: 50px;
 
  &__answer1{
    width:40%;
  }

  &__answer2{
    width:40%;
  }
}

.breakdown-answer{
  border: 1px solid darkgrey;
  border-radius: 10px;
  width: 40%;
  background-color: lightgray;
  margin: 10px auto;
  text-align: center;
  height:30px;
  line-height: 30px;
}

.breakdown-count {
  width: 40%;
  margin: 0px auto;
  text-align: center;
}

.choose-message{
  margin-top: 5px;

}