.comment-area {
  margin-top: 20px;
  
}


.comment-title {
  background-color: #0DB8D9;
  height: 40px;
  line-height: 40px;
  padding-left: 20px;
  font-size: 24px;
  font-weight: bold;
  color: #FFE600;
}


.comment {
  margin-left: 20px;
}

.comment-body {
    width: 60%;
    height: 40px;
    line-height: 40px;
    color: #2660AC;
  }