.header { 
  height: 100px;
  background-color: #0DB8D9;

  &__bar {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 20px;
  }
}

.title {
  font-size: 36px;
  font-weight: bold;
  color: #FFE600;
}

.grid-6 {
  font-size: 16px;
}

.btn { 
  color: #0DB8D9;
  font-weight: bold;
  width: 150px;
  height: 60px;
  padding:10px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 5px;
  background-color: #FFE600;
}

.login_signup {
  display: flex;
}