.theme-head {
  background-color: #F08A37;
  color: #FFE600;
  height: 40px;
  line-height: 40px;
  font-size: 24px;
  font-weight: bold;
  padding-left: 20px;
  margin: 10px 0px;
}

.new-theme {
  margin-top: 20px;
}

.new-theme-body { 
  

  &__label{
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    font-weight: bold;
    width:200px;
    display: block;
    float: left;
    text-align: right;
    margin-right: 10px;
    
  }

  &__form{
    width: 70vw;
    background-color: white;
    border: 1px solid lightgray;
    height: 50px;
    line-height: 50px;
    box-sizing: border-box;
  }
}


.new-theme-ans {

  &__label{
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    font-weight: bold;
    text-align: right;
    margin-right: 10px;
    width:200px;
    display: block;
    float: left;
    
  }

  &__form{
    width: 70vw;
    background-color: white;
    border: 1px solid lightgray;
    height: 50px;
    line-height: 50px;
    box-sizing: border-box;
    margin-bottom: 10px;
  }
}

.new-theme-genre {

  &__label{
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    font-weight: bold;
    text-align: right;
    margin-right: 10px;
    width:200px;
    display: block;
    float: left;
    
  }

  &__form{
    width: 70vw;
    height: 50px;
    line-height: 50px;
    box-sizing: border-box;
    margin-bottom: 10px;
    background-color: white;
    border: 1px solid lightgray;
  }
}


.result-header {
  display: flex;
  height: 50px;
  line-height: 50px;
  text-align: center;
  color: #FFE600;

  &__id, &__user, &__link, &__date {
    background-color: #0DB8D9;
    border: 1px solid lightgray;
    width: 10%;
  }

  &__genre {
    background-color: #0DB8D9;
    border: 1px solid lightgray;
    width: 20%;
  }

  &__title {
    background-color: #0DB8D9;
    border: 1px solid lightgray;
    width: 50%;
  }

}

.result-contents {
  display: flex;
  height: 50px;
  line-height: 50px;
  text-align: center;
  margin: 2px 0px;

  &__id, &__user, &__date {
    background-color: white;
    border: 1px solid lightgray;
    width: 10%;
  }

  &__genre {
    background-color: white;
    border: 1px solid lightgray;
    width: 20%;
  }

  &__title {
    background-color: white;
    border: 1px solid lightgray;
    width: 50%;
  }

  &__link {
    background-color: white;
    border: 1px solid lightgray;
    width: 10%;
    text-decoration: underline;
    color: #2660AC;
    font-weight: bold;
  }

}

.Form_inputBox {
  margin-left: 20%;
  margin-bottom: 10px;
}