.main-contents {
  height: 100vh;
  background-color: #FFE600;
  display: flex;
  justify-content: center;
}

.answer-area {
  background-color: #A2CA0E;
  border-radius: 20px;
  height: 300px;
  width: 80vw;
  margin-top: 20px;
}
  
.answer-title {
    height: 100px;
    line-height: 100px;
    padding-left: 30px;
    padding-top: 10px;
    font-size: 32px;
    font-weight: bold;
    color: #FFE600;
  }

.answer-start {
  display: flex;
  margin: 10px;
  padding: 0px 20px;
  justify-content: space-between;
  align-items: center;
}

.answer-guide {
    height: 80px;
    // background-color: cornflowerblue;
    width: 50vw;
    color: white;
    border: 1px solid white;
    border-radius: 10px;

    &__message {
      padding-left: 10px;
      height: 40px;
      line-height: 40px;
      font-weight: bold;
    }


  }



.answer-link {
    height: 50px;
    text-align:center;
    line-height: 50px;
    background-color: #EA5419;
    width: 270px;
    color: #FFE600;
    font-weight: bold;
    border: 1px solid white;
    
  }


  .answer-search {
    text-align:center;
    padding: 0px 30px;
    
  }

  .search-input { 
    border: 1px solid darkgrey;
    background-color: white;
    width: 50vw;
    height: 50px;
  }

  .search-form {
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
  }

  .search-btn {
    line-height: 50px;
    text-align: center;
    height: 50px;
    width:130px;
    background-color:  #EA5419;
    color: #FFE600;
    border: 1px solid white;
  }



