/*
 *= require_tree .
 *= require_self
 */
body {
  background-color: #FFE600;
  font-family: 'Wawati SC',sans-serif;
  height: 100%;
}

html {
  height: 100%;
}

.return-top {
  margin-top: 10px;
  text-decoration: underline;
  text-align: center;
}

@import "reset";
@import "header";
@import "tops";
@import "answers";
@import "themes";